<div class="main-container">
    <div class="sub-container">
        <span class="fw-semibold font-16px">Dual List Box</span>

        <div class="row">
            <div class="col-md-12">

                <select #selectRef multiple>
                    <option value="1" selected>Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4" selected>Option 4</option>
                    <option value="5">Option 5</option>
                    <option value="6">Option 6</option>
                    <option value="7" selected>Option 7</option>
                </select>
            </div>
        </div>
    </div>
</div>