<div class="d-flex flex-column gap-2">
  <div>
    <h1 class="fw-bold mb-4">Typography</h1>
    <p>
      Typography is like the ABCs of design - if you don't get it right, it's like you're saying "so long!" to
      your users. That's why a basic understanding of typography is so important - it can help you decide
      which
      fonts are best for modern UI design. I think typography is often underrated when it comes to product
      design,
      but it can be so powerful! Text isn't just text - it can bring out emotions, direct attention and even
      create an identity. On the flip side, bad typography is a dead giveaway. It doesn't look great on the
      brand
      and leaves a sour taste in users' mouths, even if they don't know why. Unfortunately, many designers
      just go
      with trends instead of taking the time to pick the best typography for their design. It's hard to
      master,
      but if you combine it with great copywriting, you can really make your product stand out and create a
      great
      user experience.
    </p>
  </div>

  <div class="row bg-neutral-100 p-3 br-24 mb-4 mt-4 ">
    <div class="col-md-6 flex-h-center flex-v-center">
      <h1 class="inter-big font-80px">Ag</h1>
    </div>
    <div class="col-md-6 p-2">
      <h3 class="fw-bold">Inter</h3>
      <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
      <p>abcdefghijklmnopqrstuvwxyz</p>
      <p>0123456789 !#$%^&*()</p>
      <a class="font-weight-600" href="https://fonts.google.com/specimen/Inter" target="_blank"> Download :
        https://fonts.google.com/specimen/Inter</a>
    </div>

  </div>

  <div class="d-flex flex-column gap-2">
    <div>
      <small class="text-grey">Title (4rem | 64px | Light | 120%)</small>
      <h1 class="title mt-2 mb-3">
        Title
      </h1>
      <small class="text-grey">Subtitle (2.5rem | 40px | Regular | 120%)</small>
      <h1 class="sub-title mt-2 mb-3">
        Subtitle
      </h1>
      <small class="text-grey">Heading 1 (3rem | 48px | Bold | 120%)</small>
      <h1 class="mt-2 mb-3">
        The quick brown fox jumps over
      </h1>
      <small class="text-grey">Heading 2 (2.5rem | 40px | Bold | 120%)</small>
      <h2 class="mt-2 mb-3">
        The quick brown fox jumps over
      </h2>
      <small class="text-grey">Heading 3 (2.063rem | 33px | Bold | 120%)</small>
      <h3 class="mt-2 mb-3">
        The quick brown fox jumps over
      </h3>
      <small class="text-grey">Heading 4 (1.75rem | 28px | Bold | 120%)</small>
      <h4 class="mt-2 mb-3">
        The quick brown fox jumps over
      </h4>
      <small class="text-grey">Heading 5 (1.438rem | 23px | Bold | 120%)</small>
      <h5 class="mt-2 mb-3">
        The quick brown fox jumps over
      </h5>
      <small class="text-grey">Heading 6 (1.188rem | 19px | Bold | 120%)</small>
      <h6 class="mt-2 mb-3">
        The quick brown fox jumps over
      </h6>
    </div>

    <div class="col-md-12">
      <small class="text-grey">Paragraph (1rem | 16px | Regular | 150%)</small>
      <p>
        Lorem ipsum dolor sit amet consectetur. Mauris non et nunc sit tincidunt quisque eu. Convallis
        egestas
        elit
        ultricies non tortor ultrices accumsan. Semper nunc id facilisi diam nunc massa vitae. Euismod urna
        mollis
        vulputate mauris magna lorem nec sed eget. Lectus fames justo massa quam tortor elit sit et. Massa
        urna
        eget
        enim egestas egestas iaculis. Placerat ridiculus metus hac convallis ut nulla enim.
      </p>
      <small class="text-grey">Button (1rem | 16px | Bold | 120% | TitleCase)</small>
      <p class="fw-bold">
        Button
      </p>
      <small class="text-grey">Navigation (1rem | 16px | Medium / Semi Bold | 120%)</small>
      <p class="fw-700">
        Navigation
      </p>
      <small class="text-grey">Label (0.875rem | 14px | Medium / Semi Bold | 120%)</small><br>
      <label>
        Label
      </label><br><br>
      <small class="text-grey">Input (1rem | 16px | Regular / Book | 150%)</small>
      <p>
        input
      </p>
      <small class="text-grey">Small text (1rem | 16px | Medium / Semibold | 150%)</small><br>
      <small>
        Small text
      </small><br><br>
      <small class="text-grey">Monospaced (1rem | 16px | Regular / Book | 150%)</small>
      <p>
        Monospaced
      </p>
    </div>
  </div>

  <div class="d-flex flex-column">
    <h3 class="fw-bold">Display Text</h3>
    <p>
      A display text style is intended for use at large sizes for headings, rather than for extended passages
      of body text.
    </p>
    <p>
      As a general rule, “text” styles should be used for the majority of informational copy (body, labels, UI
      elements), while larger “display” styles should be reserved for headings (H1-H6).
    </p>
    <h3 class="fw-bold mt-3">Base Font Size</h3>
    <p>
      Defining your base font size is an important step for responsive design. The base font size refers to
      the “default” or “primary” font size used in an website or app. The base font usually applies to most
      paragraphs, labels, menus and lists.
    </p>
    <p>
      Most modern UI and web utilises a base font size of 16px. This is always a good default to start from as
      it is legible for users to read text on screen.
      Ultimately, you want the body text on your phone (when held at a natural distance) to be as readable as
      the text in a well-printed book (when held at a natural – usually slightly farther – distance).
    </p>
    <h3 class="fw-bold mt-3">Line height</h3>
    <p>
      Determining the correct line height for a text styles is important to ensure legibility. Determining the
      correct
      line height can differ between different typefaces and sizes, so it’s important to adjust and experiment
      until
      it looks and “feels” right — it’s not an exact science. <br><br>

      As a general rule (and a good starting point), body text should be between 1.5 to 2x the text size,
      depending on
      the width and length of the content. For example, if your body text is 16px, set the line height to 1.5
      or
      24px.<br><br>

      To complicate things further, there is an inverse relationship between font size and appropriate line
      height
      —
      the larger the text, the smaller the line height should be. As a general rule for display text (headings
      etc.),
      aiming for 1 to 1.25x is usually a safe bet. For example, if your display text is 60px, set the line
      height
      to
      ~1.2 or 72px and see how that looks.<br><br>
      We’ve stress-tested Typographic scale across dozens of projects to make sure it’s robust enough to use
      across
      (almost) any project.
    </p>
    <h3 class="fw-bold mt-3">Optimizing letter spacing for display text</h3>
    <p>
      Often, typefaces are designed with an intended usage in mind — they're optimized for display usage
      (larger
      headings), or text (smaller body copy etc.) In general, text type is designed to be legible and readable
      at
      small sizes. <br><br>

      Don't worry, you don't necessarily need to choose a separate typeface for display and text. Many
      typefaces
      can
      be used for both. Inter is a great example — it's clean, consistent, and uncomplicated design features
      make
      it
      suitable for use at all sizes. <br><br>

      However, if you're using the same typeface for both body text and display test, it is often a good idea
      to
      tweak
      letter spacing to the display text style to make it more legible in larger sizing. Don't go overboard
      though, a
      little goes a long way and helps display text look and feel tighter. <br><br>

      Unfortunately, Figma only allows you to define a % value for letter spacing in text styles, which
      doesn't
      mirror
      CSS. If you're handing designs to a developer or building a design yourself, you'll need to define a
      either
      a
      hard-pixel value or a rem/em value (e.g. -0.1em).
    </p>

    <h3 class="fw-bold mt-4">Pixel to REM Converter:
      <a href="https://nekocalc.com/px-to-rem-converter">https://nekocalc.com/px-to-rem-converter</a>
    </h3>
  </div>
</div>
