<div class="row">
    <div class="col-md-12">
        <h1 class="display-text-1 fw-bold">Icons</h1>
        <hr>
        <p>
            Icons are powerful visual elements in UI design, aiding in navigation, communication, and brand
            representation. When used effectively, icons contribute to a more intuitive, efficient, and enjoyable user
            experience.
        </p>
    </div>
    <p>We mainly use the following icon libraries</p>
</div>
<div class="row mt-4">
    <div class="d-flex align-items-center flex-fill flex-wrap gap-3">
        <!-- phosphor-icons -->
        <div>
            <button class="btn btn-primary btn-outline"><a href="https://phosphoricons.com/" target="_blank">Phosphor
                    Icons - https://phosphoricons.com/</a></button>

            <a class="btn btn-icon-only mt-2">
                <i class="ph ph-house f-24"></i> - Home Icon
            </a>
        </div>
    </div>
</div>