<div class="main-container">
  <div class="sub-container">
    <span class="fw-semibold font-16px">Badge</span>

    <div class="d-flex flex-column gap-3">
      <div class="d-flex flex-wrap">
        <p>
          In UI/UX design, a badge is a small visual element or icon used to
          convey specific information or status within a user interface. Common
          uses include notification badges for alerts, status badges for task
          completion, achievement badges for milestones, and labels for
          categorization. Badges serve as efficient visual cues, enhancing the
          overall user experience by providing quick and clear information to
          users.
        </p>
        <div class="col-md-6">
          <button class="badge bg-green">Example</button>
        </div>
      </div>

      <div class="d-flex flex-wrap gap-3">
        <div class="col-12">
          <h5 class="mb-2">Badge Variations</h5>
          <p class="text-red mb-2">
            Note:badge class should be added for every badge.
          </p>
        </div>

        <div class="flex-1">
          <button class="badge badge-light">Light</button>
        </div>
        <div class="flex-1">
          <button class="badge badge-primary">Primary</button>
        </div>
        <div class="flex-1">
          <button class="badge bg-green">Green</button>
        </div>
        <div class="flex-1">
          <button class="badge bg-red">Red</button>
        </div>
        <div class="flex-1">
          <button class="badge badge-warning">Warning</button>
        </div>
        <div class="flex-1">
          <button class="badge badge-info">Info</button>
        </div>

        <div class="col-12">
          <strong>badge with icon</strong>
        </div>
        <div class="flex-1">
          <button class="badge badge-info ico-badge">
            <i class="ph ph-info"></i> Info
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
