<div class="row">
    <div class="col-md-12">
        <h1 class="display-text-1 fw-bold">Colors</h1>
        <hr>
        <p>
            Colors in UI design can speak in ways that are every bit as powerful as copy. They not only affect how your
            design looks, but can go as far as to elicit emotion and reflect the personality of your brand. Colors also
            play an important role in how your designs "look & feel", and are the first impression. <br><br>

            While color can be subjective, it's clear that good colors can attract and convert users. Bad colors, on the
            other hand, can turn away users and even make designs inaccessible and unusable.
        </p>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <p class="fw-bold">Text Color Clasess</p>
        <p>text-white</p>
        <p class="text-black">text-black</p><br>
        <p class="text-neutral-500">text-neutral-50</p>
        <p class="text-neutral-500">text-neutral-100</p>
        <p class="text-neutral-500">text-neutral-200</p>
        <p class="text-neutral-500">text-neutral-300</p>
        <p class="text-neutral-500">text-neutral-400</p>
        <p class="text-neutral-500">text-neutral-500</p>
        <p class="text-neutral-600">text-neutral-600</p>
        <p class="text-neutral-700">text-neutral-700</p>
        <p class="text-neutral-800">text-neutral-800</p>
        <p class="text-neutral-900">text-neutral-900</p>
        <p class="text-neutral-950">text-neutral-950</p><br>

        <p class="text-primary-300">text-primary-50</p>
        <p class="text-primary-300">text-primary-100</p>
        <p class="text-primary-300">text-primary-200</p>
        <p class="text-primary-300">text-primary-300</p>
        <p class="text-primary-400">text-primary-400</p>
        <p class="text-primary-500">text-primary-500</p>
        <p class="text-primary-600">text-primary-600</p>
        <p class="text-primary-700">text-primary-700</p>
        <p class="text-primary-800">text-primary-800</p>
        <p class="text-primary-900">text-primary-900</p>
        <p class="text-primary-950">text-primary-950</p><br>

        <p class="text-secondary-300">text-secondary-50</p>
        <p class="text-secondary-300">text-secondary-100</p>
        <p class="text-secondary-300">text-secondary-200</p>
        <p class="text-secondary-300">text-secondary-300</p>
        <p class="text-secondary-400">text-secondary-400</p>
        <p class="text-secondary-500">text-secondary-500</p>
        <p class="text-secondary-600">text-secondary-600</p>
        <p class="text-secondary-700">text-secondary-700</p>
        <p class="text-secondary-800">text-secondary-800</p>
        <p class="text-secondary-900">text-secondary-900</p>
        <p class="text-secondary-950">text-secondary-950</p><br>

        <p class="text-negative-300">text-negative-50</p>
        <p class="text-negative-300">text-negative-100</p>
        <p class="text-negative-300">text-negative-200</p>
        <p class="text-negative-300">text-negative-300</p>
        <p class="text-negative-400">text-negative-400</p>
        <p class="text-negative-500">text-negative-500 | text-red</p>
        <p class="text-negative-600">text-negative-600</p>
        <p class="text-negative-700">text-negative-700</p>
        <p class="text-negative-800">text-negative-800</p>
        <p class="text-negative-900">text-negative-900</p>
        <p class="text-negative-950">text-negative-950</p><br>

        <p class="text-positive-300">text-positive-50</p>
        <p class="text-positive-300">text-positive-100</p>
        <p class="text-positive-300">text-positive-200</p>
        <p class="text-positive-300">text-positive-300</p>
        <p class="text-positive-400">text-positive-400</p>
        <p class="text-positive-500">text-positive-500</p>
        <p class="text-positive-600">text-positive-600</p>
        <p class="text-positive-700">text-positive-700</p>
        <p class="text-positive-800">text-positive-800</p>
        <p class="text-positive-900">text-positive-900</p>
        <p class="text-positive-950">text-positive-950</p><br>

        <p class="text-warning-300">text-warning-50</p>
        <p class="text-warning-300">text-warning-100</p>
        <p class="text-warning-300">text-warning-200</p>
        <p class="text-warning-300">text-warning-300</p>
        <p class="text-warning-400">text-warning-400</p>
        <p class="text-warning-500">text-warning-500</p>
        <p class="text-warning-600">text-warning-600</p>
        <p class="text-warning-700">text-warning-700</p>
        <p class="text-warning-800">text-warning-800</p>
        <p class="text-warning-900">text-warning-900</p>
        <p class="text-warning-950">text-warning-950</p><br>

        <p class="text-informative-300">text-informative-50</p>
        <p class="text-informative-300">text-informative-100</p>
        <p class="text-informative-300">text-informative-200</p>
        <p class="text-informative-300">text-informative-300</p>
        <p class="text-informative-400">text-informative-400</p>
        <p class="text-informative-500">text-informative-500</p>
        <p class="text-informative-600">text-informative-600</p>
        <p class="text-informative-700">text-informative-700</p>
        <p class="text-informative-800">text-informative-800</p>
        <p class="text-informative-900">text-informative-900</p>
        <p class="text-informative-950">text-informative-950</p><br>

        <p class="text-informative-300">text-informative-50</p>
        <p class="text-informative-300">text-informative-100</p>
        <p class="text-informative-300">text-informative-200</p>
        <p class="text-informative-300">text-informative-300</p>
        <p class="text-informative-400">text-informative-400</p>
        <p class="text-informative-500">text-informative-500</p>
        <p class="text-informative-600">text-informative-600</p>
        <p class="text-informative-700">text-informative-700</p>
        <p class="text-informative-800">text-informative-800</p>
        <p class="text-informative-900">text-informative-900</p>
        <p class="text-informative-950">text-informative-950</p><br>
    </div>

    <div class="col-md-4">
        <p class="fw-bold">Background Color Clasess</p>
        <p>bg-white</p>
        <p class="bg-black">bg-black</p><br>
        <p class="bg-neutral-50">bg-neutral-50</p>
        <p class="bg-neutral-100">bg-neutral-100</p>
        <p class="bg-neutral-200">bg-neutral-200</p>
        <p class="bg-neutral-300">bg-neutral-300</p>
        <p class="bg-neutral-400">bg-neutral-400</p>
        <p class="bg-neutral-500">bg-neutral-500</p>
        <p class="bg-neutral-600">bg-neutral-600</p>
        <p class="bg-neutral-700">bg-neutral-700</p>
        <p class="bg-neutral-800">bg-neutral-800</p>
        <p class="bg-neutral-900">bg-neutral-900</p>
        <p class="bg-neutral-950">bg-neutral-950</p><br>

        <p class="bg-primary-50">bg-primary-50</p>
        <p class="bg-primary-100">bg-primary-100</p>
        <p class="bg-primary-200">bg-primary-200</p>
        <p class="bg-primary-300">bg-primary-300</p>
        <p class="bg-primary-400">bg-primary-400</p>
        <p class="bg-primary-500">bg-primary-500</p>
        <p class="bg-primary-600">bg-primary-600</p>
        <p class="bg-primary-700">bg-primary-700</p>
        <p class="bg-primary-800">bg-primary-800</p>
        <p class="bg-primary-900">bg-primary-900</p>
        <p class="bg-primary-950">bg-primary-950</p><br>

        <p class="bg-secondary-50">bg-secondary-50</p>
        <p class="bg-secondary-100">bg-secondary-100</p>
        <p class="bg-secondary-200">bg-secondary-200</p>
        <p class="bg-secondary-300">bg-secondary-300</p>
        <p class="bg-secondary-400">bg-secondary-400</p>
        <p class="bg-secondary-500">bg-secondary-500</p>
        <p class="bg-secondary-600">bg-secondary-600</p>
        <p class="bg-secondary-700">bg-secondary-700</p>
        <p class="bg-secondary-800">bg-secondary-800</p>
        <p class="bg-secondary-900">bg-secondary-900</p>
        <p class="bg-secondary-950">bg-secondary-950</p><br>

        <p class="bg-negative-50">bg-negative-50</p>
        <p class="bg-negative-100">bg-negative-100</p>
        <p class="bg-negative-200">bg-negative-200</p>
        <p class="bg-negative-300">bg-negative-300</p>
        <p class="bg-negative-400">bg-negative-400</p>
        <p class="bg-negative-500">bg-negative-500</p>
        <p class="bg-negative-600">bg-negative-600</p>
        <p class="bg-negative-700">bg-negative-700</p>
        <p class="bg-negative-800">bg-negative-800</p>
        <p class="bg-negative-900">bg-negative-900</p>
        <p class="bg-negative-950">bg-negative-950</p><br>

        <p class="bg-positive-50">bg-positive-50</p>
        <p class="bg-positive-100">bg-positive-100</p>
        <p class="bg-positive-200">bg-positive-200</p>
        <p class="bg-positive-300">bg-positive-300</p>
        <p class="bg-positive-400">bg-positive-400</p>
        <p class="bg-positive-500">bg-positive-500</p>
        <p class="bg-positive-600">bg-positive-600</p>
        <p class="bg-positive-700">bg-positive-700</p>
        <p class="bg-positive-800">bg-positive-800</p>
        <p class="bg-positive-900">bg-positive-900</p>
        <p class="bg-positive-950">bg-positive-950</p><br>

        <p class="bg-warning-50">bg-warning-50</p>
        <p class="bg-warning-100">bg-warning-100</p>
        <p class="bg-warning-200">bg-warning-200</p>
        <p class="bg-warning-300">bg-warning-300</p>
        <p class="bg-warning-400">bg-warning-400</p>
        <p class="bg-warning-500">bg-warning-500</p>
        <p class="bg-warning-600">bg-warning-600</p>
        <p class="bg-warning-700">bg-warning-700</p>
        <p class="bg-warning-800">bg-warning-800</p>
        <p class="bg-warning-900">bg-warning-900</p>
        <p class="bg-warning-950">bg-warning-950</p><br>

        <p class="bg-informative-50">bg-informative-50</p>
        <p class="bg-informative-100">bg-informative-100</p>
        <p class="bg-informative-200">bg-informative-200</p>
        <p class="bg-informative-300">bg-informative-300</p>
        <p class="bg-informative-400">bg-informative-400</p>
        <p class="bg-informative-500">bg-informative-500</p>
        <p class="bg-informative-600">bg-informative-600</p>
        <p class="bg-informative-700">bg-informative-700</p>
        <p class="bg-informative-800">bg-informative-800</p>
        <p class="bg-informative-900">bg-informative-900</p>
        <p class="bg-informative-950">bg-informative-950</p><br>

        <p class="bg-informative-50">bg-informative-50</p>
        <p class="bg-informative-100">bg-informative-100</p>
        <p class="bg-informative-200">bg-informative-200</p>
        <p class="bg-informative-300">bg-informative-300</p>
        <p class="bg-informative-400">bg-informative-400</p>
        <p class="bg-informative-500">bg-informative-500</p>
        <p class="bg-informative-600">bg-informative-600</p>
        <p class="bg-informative-700">bg-informative-700</p>
        <p class="bg-informative-800">bg-informative-800</p>
        <p class="bg-informative-900">bg-informative-900</p>
        <p class="bg-informative-950">bg-informative-950</p><br>
    </div>
</div>