<div class="main-container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="breadcrumb-container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom-breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item has-dropdown">
            <a routerLink="#" class="text-decoration-none">Configurations</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <i class="ph ph-caret-right"></i> <span id="active-iphone-breadcrumb">Payment Network</span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="d-flex gap-2">
      <button class="btn btn-primary  btn-sm" [routerLink]="['/configurations/payment-network/new-payment','add', 'new']">
        <i class="ph ph-plus"></i>New Payment Network
      </button>
    </div>
  </div>
  <div class="sub-container">
    <div class="search-container">
      <div class="search-header">
        <div class="search-result-count">
          <span class="fw-semibold font-16px">Search Payment Network</span>
        </div>
        <div class="filter-toggle d-flex align-items-center gap-2" (click)="toggleFilter()">
          <i class="ph ph-sliders slider-icon"></i>
          <span class="fw-semibold font-14px">{{ isFilterOpen ? "Close Filters" : "Apply Filters" }}</span>
        </div>

      </div>

      <div class="filter-container" [class.open]="isFilterOpen">
        <form [formGroup]="payment_network_filter">
          <div class="row g-3 no-left-padding">

            <div class="col-md-3">
              <mat-label>Payment Network ID</mat-label>
              <mat-form-field appearance="outline" class="w-100 input-sm">
                <input type="text" matInput placeholder="Payment Network ID" formControlName="networkID"/>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-label>Payment Network Name</mat-label>
              <mat-form-field appearance="outline" class="w-100 input-sm">
                <input type="text" matInput placeholder="Payment Network Name" formControlName="networkName"/>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-label>BIN</mat-label>
              <mat-form-field appearance="outline" class="w-100 input-sm">
                <input type="text" matInput placeholder="BIN" formControlName="BIN"/>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-label>BIN Length</mat-label>
              <mat-form-field appearance="outline" class="w-100 input-sm">
                <mat-select placeholder="Select" formControlName="BINLength">
                  <mat-option value="6">06</mat-option>
                  <mat-option value="8">08</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-label>Status</mat-label>
              <mat-form-field appearance="outline" class="w-100 input-sm">
                <mat-select placeholder="Select" formControlName="Status">
                  <mat-option value="ACTIVE">Active</mat-option>
                  <mat-option value="INACTIVE">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <mat-divider class="mt-2 mb-4"></mat-divider>

          <div class="d-flex justify-content-between gap-2">
            <button class="btn btn-secondary btn-outline btn-sm" (click)="resetFilter()">
              <i class="ph ph-clock-counter-clockwise"></i>Reset
            </button>
            <button class="btn btn-primary btn-sm" (click)="applyFilter()">
              <i class="ph ph-magnifying-glass"></i>Search
            </button>
          </div>
        </form>
      </div>
      <div class="table-container mt-3">
        <div class="mat-table">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="network_id">
              <th mat-header-cell *matHeaderCellDef> Network ID </th>
              <td mat-cell *matCellDef="let element"> {{element.Network_ID}} </td>
            </ng-container>
            <ng-container matColumnDef="network_name">
              <th mat-header-cell *matHeaderCellDef> Network Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Network_Name}} </td>
            </ng-container>
            <ng-container matColumnDef="BIN">
              <th mat-header-cell *matHeaderCellDef> BIN </th>
              <td mat-cell *matCellDef="let element"> {{element.BIN}} </td>
            </ng-container>
            <ng-container matColumnDef="BIN_length">
              <th mat-header-cell *matHeaderCellDef> BIN Length </th>
              <td mat-cell *matCellDef="let element"> {{element.BIN_Length}} </td>
            </ng-container>
            <ng-container matColumnDef="rule_group">
              <th mat-header-cell *matHeaderCellDef> Rule Group </th>
              <td mat-cell *matCellDef="let element"> {{element.Rule_Group}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <span
                  class="badge"
                  [ngClass]="{
                    'bg-green': element.Status == 'Active',
                    'bg-red': element.Status == 'Inactive',
                  }">
                  {{ element.Status }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
              <td mat-cell *matCellDef="let element" class="text-center">

                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-secondary btn-outline btn-sm" title="View" [routerLink]="['/configurations/payment-network/new-payment','view', element.Network_ID]"><i class="ph ph-eye"></i></button>
                  <button type="button" class="btn btn-secondary btn-outline btn-sm" title="Edit" [routerLink]="['/configurations/payment-network/new-payment','edit', element.Network_ID]"><i class="ph ph-pencil"></i></button>
                  <button type="button" class="btn btn-danger btn-outline btn-sm" title="Delete" (click)="deletePaymentNetwork(element.Network_ID)"><i class="ph ph-trash"></i></button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
            (page)="onPageChange($event)"
            [length]="totalRecords"
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="pageSize">
          </mat-paginator>
        </div>
      </div>

    </div>
  </div>
</div>
