<div class="main-container">
  <div class="sub-container">
    <div class="row">
      <span class="fw-semibold font-16px">Toaster & Sweet Alert</span>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <strong
            >Toaster
            <a href="https://www.npmjs.com/package/ngx-toastr" target="_blank"
              >( Source Link )</a
            ></strong
          >
        </p>
        <button class="btn btn-primary me-2" (click)="showSuccess()">
          Toaster
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <p>
          <strong
            >SweetAlert
            <a href="https://sweetalert2.github.io" target="_blank"
              >( Source Link )</a
            ></strong
          >
        </p>
        <button class="btn btn-primary" (click)="SweetAlert()">
          Sweet Alert
        </button>
      </div>
    </div>
  </div>
</div>
