<div class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-white">
  <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center gap-3 w-35">
    <div class="img-container w-auto">
      <svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M123.595 93.0368C130.577 105.131 121.849 120.249 107.884 120.249H20.1705C6.20554 120.249 -2.52286 105.132 4.45913 93.0374L48.3139 17.0714C55.2963 4.97645 72.7535 4.97614 79.7363 17.0708L123.595 93.0368Z"
          fill="#FEF2F2" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M64 40C59.2324 40 55.523 44.3294 56.05 49.2741L59.0382 77.3607C59.2324 79.1927 60.3201 80.7148 61.818 81.4759C62.4792 81.8131 63.2199 82 64 82C66.5442 82 68.6814 80.0039 68.9618 77.3607L71.95 49.2741C72.477 44.3294 68.7676 40 64 40ZM64 96C66.4678 96 68.4687 93.9128 68.4687 91.3333C68.4687 88.7539 66.4678 86.6667 64 86.6667C61.5322 86.6667 59.5313 88.7539 59.5313 91.3333C59.5313 93.9128 61.5322 96 64 96Z"
          fill="#DC2626" />
      </svg>
    </div>

    <div class="text-center mb-3">
      <div class="heading">
        <h1 class="fs-2 fw-bold" id="error-type">Site Maintenance</h1>
      </div>
      <p class="text-wrap">We are currently performing maintenance on our website to improve your experience. We
        apologize for the inconvenience and appreciate your patience.</p>
    </div>

    <div class="d-flex justify-content-center align-items-center gap-3">
      <button type="button" class="btn btn-primary">Refresh Page</button>
      <a type="button" class="btn btn-default text-decoration-none"
        href="${pageContext.servletContext.contextPath}/login">Contact Us
      </a>
    </div>
  </div>
  <!--Error Page Footer-->
  <div class="d-flex flex-colum align-items-center justify-content-center p-3 bg-neutral-50 w-100">
    <p class="m-0"><small>©Copyright 2025. All rights reserved.</small></p>
  </div>
</div>