.status-active {
  background-color: green;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
.status-inactive {
  background-color: red;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
